*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
th,td{
    padding: 10px;
}
p{
    max-width: 600px;
}

.flex-page{
    display:flex;
}

.flex-page>.sidebar{
    flex: 2;
    background-color: #2a2a2a;
    padding: 60px 20px 20px 20px;
    min-height: 100vh;
}
.sideCategory{
    font-weight:bold;
    padding: 5px 10px 5px 10px;
    color: white;
}
.sideButton{
    padding: 10px 10px 10px 10px;
    color: #dadada;
    cursor: pointer;
    display: block;
    margin: 5px;
}
.sideButton:hover{
    background-color: #4a4a4a;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.flex-page>.content{
    flex: 10;
    padding: 20px 20px 20px 100px;
}
#contentTitle{
    margin: 34px 20px 0px 20px;
}
#contentHTML{
    margin: 20px 20px 0px 20px;
    padding-bottom: 200px;

}

.sideButtonActive{
    background-color: #4a4a4a;
    border-radius: 6px;
}

#contentHTML>p{
    margin-top: 20px;
    text-align: justify;
    line-height: 35px;
}
#contentHTML>h2{
    margin-top:40px;
    line-height: 35px;
}
.hamburger{
    font-size: 30px;
    padding: 20px;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
    border-radius: 6px;
}
.hamburger:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
}
.info{
    background-color: rgb(23, 140, 208);
    padding: 15px;
    max-width: 400px;
    margin: 10px;
    border-radius: 6px;
    color: white;
    line-height: 30px;
}
.info ul{
    padding-left: 20px;
}
.iconButton{
    background-color: #2a2a2a;
    border-radius: 6px;
    width: fit-content;
    padding: 10px;
    color: white;
    cursor: pointer;
    display: block;
    margin-top: 20px;
}
.iconButton:hover{
    background-color: lightblue;
}
.iconButton>i{
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    .flex-page{
        display: inline;
    }
    .flex-page>.content{
        padding: 50px 20px 20px 20px;
    }
    .flex-page>.sidebar{
        height: 100px;
        min-height: none;
        position: fixed;
    }
    .hamburger{
        visibility: visible;
    }

  }
