*{
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

p{
    padding-top: 10px;
    max-width: 800px;
}
h2{
    padding-top: 30px;
}

.flex-page{
    display:flex;
}

.flex-page>.sidebar{
    flex: 2;
    background-color: #2a2a2a;
    padding: 60px 20px 20px 20px;
    min-height: 100vh;
}
.sideCategory{
    font-weight:bold;
    padding: 5px 10px 5px 10px;
    color: white;
}
.sideButton{
    padding: 10px 10px 10px 10px;
    color: #dadada;
    cursor: pointer;
    display: block;
    margin: 5px;
}
.sideButton:hover{
    background-color: #4a4a4a;
    border-radius: 6px;
    transition: 0.2s;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

.flex-page>.content{
    flex: 10;
    line-height: 30px;
    padding: 50px 20px 20px 20px;
}
#contentTitle{
    margin: 34px 20px 0px 20px;
}
#contentHTML{
    margin: 20px 20px 0px 20px;
    padding-bottom: 200px;

}

.sideButtonActive{
    background-color: #4a4a4a;
    border-radius: 6px;
}
.content p{
    text-indent: 50px;
    text-align: justify;
}
.hamburger{
    font-size: 30px;
    padding: 20px;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    background-color: rgba(255,255,255,0.5);
}
.hamburger:hover{
    background-color: #2a2a2a;
    color: white;
}

@media screen and (max-width: 600px) {
    .flex-page{
        display: inline;
    }
    .flex-page>.sidebar{
        height: 100px;
        min-height: none;
        position: fixed;
    }
    .hamburger{
        visibility: visible;
    }

  }